#loader {
  margin: 20px auto;
  width: 96px;
  height: 96px;
}

.movie-detail {
  height: 500px;
  overflow-y: scroll;
}

.movie-detail .card-detail {
  width: 90%;
  margin: auto;
}

.movie-poster {
  width: 100%;
  margin-bottom: 20px;
}

.menu {
  position: fixed;
  left: 300px;
  top: 520px;
  z-index: 4;
  background: #ccc;
}

.menu-list {
  width: 80px;
}
