#loader > div {
  margin: 20px auto;
  width:96px;
  height: 96px;
}
.movie-detail {
  height: 500px;
  overflow-y: scroll;
}
.movie-poster {
  width: 100%;
}
.menu {
  left: 400px;
  top: 500px;
  width: 60px;
  height: 200px;
}
.fixed-action-btn ul {
  bottom: 190px;
}