#loader {
  margin: 20px auto;
  width: 96px;
  height: 96px;
}

.movie-detail {
  height: 500px;
  overflow-y: scroll;
}

.movie-detail
  .card-detail {
    width: 90%;
    margin: auto;
  }

.movie-poster {
  width: 100%;
  margin-bottom: 20px;
}

.menu {
  position: fixed;
  left: 320px;
  top: 450px;
  z-index: 4;
  background: #ccc;
}

.menu-list {
  width: 80px;
}

table.info td:nth-child(odd) {
  width: 30%;
}

table.info td:nth-child(even), .movie-plot {
  line-height: 20px;
}

.movie-plot {
  text-align: justify;
}
