<div class="movie-detail" *ngIf='aMovie'>
  <md-card class="card-detail">
    <md-card-header>
      <md-card-title><h4>{{aMovie.Title}}</h4></md-card-title>
    </md-card-header>
    <img class="movie-poster" src="{{aMovie.Poster}}" alt="{{aMovie.Title}}" title="{{aMovie.Title}}"/>
    <md-card-content>
      <table cellpadding="5">
        <tbody>
        <tr>
          <td>Main Actors</td>
          <td>{{aMovie.Actors}}</td>
        </tr>
        <tr>
          <td>Genre</td>
          <td>{{aMovie.Genre}}</td>
        </tr>
        <tr>
          <td>Length</td>
          <td>{{aMovie.Runtime | timeTransformer}}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{{aMovie.Type}}</td>
        </tr>
        <tr>
          <td>Released</td>
          <td>{{aMovie.Released}}</td>
        </tr>
        <tr>
          <td>Plot</td>
          <td>{{aMovie.Plot}}</td>
        </tr>
        <tr>
          <td>IMDB Rating</td>
          <td>{{aMovie.imdbRating}}</td>
        </tr>
        <tr>
          <td>Awards</td>
          <td>{{aMovie.Awards}}</td>
        </tr>
        </tbody>
      </table>
    </md-card-content>
  </md-card>
</div>
<div id="loader" *ngIf='loading'><img src="img/3.gif"/></div>
