<h6 class="center-align">All Schedules</h6>
<div class="content">
  <md-list>
    <accordion *ngIf="allScheduleDates.length">
      <accordion-group *ngFor="let aDate of allScheduleDates">
        <accordion-heading>
          <md-list-item>
            <md-icon md-list-icon><i class="material-icons">folder</i></md-icon>
            <h4 md-line>{{aDate}}</h4>
            <p md-line> {{allSchedules[aDate].length+' movies'}} </p>
          </md-list-item>
        </accordion-heading>
        <md-list-item *ngFor="let aMovie of allSchedules[aDate]" class="each-schedule">
          <h4 md-line>{{aMovie.title}}</h4>
          <p md-line> {{aMovie.scheduleTime}}</p>
          <clock [time]="aMovie.scheduleTime" [radius]="20"></clock>
        </md-list-item>
        <md-divider></md-divider>
      </accordion-group>
    </accordion>
  </md-list>
</div>
