.eachFieldRow {
  margin-bottom: 0;
}

form .col {
  padding: 0
}

.movie_title {
  margin-bottom: 0;
}

#result-list {
  margin-top: 10px;
  height: 500px;
  overflow-y: scroll;
}

.each-movie {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.each-movie:hover {
  cursor: pointer;
  background: #e8e8e8;
}

#loader > div {
  margin: 20px auto;
  width:96px;
  height: 96px;
}
