.eachFieldRow {
  margin-bottom: 0;
}

form .col {
  padding: 0
}

.movie_title {
  margin-bottom: 0;
}

#result-list {
  margin: 10px auto 35px auto;
  height: 350px;
  overflow-y: scroll;
}

.pagination {
  margin: 0 20px;
}

.pagination .page-nav {
  min-width: 56px;
}

.each-movie {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.each-movie:hover {
  cursor: pointer;
  background: #e8e8e8;
}


.search-form .search-movies {
  margin-left: 81px;
}

.movie-list {
  width: 90%;
  margin: auto;
}

.card-header {
  width: 60%;
}
.card-image {
  width: 40%;
}

.card-image img {
  width: 100%;
}

.actions {
  width: 100%;
}
