<div class="content" *ngIf="isOnline; else warning">

  <form class="search-form s12">
    <div class="each-row">
      <md-input-container>
        <input id="movie_title" mdInput placeholder="Movie Title" type="text" [(ngModel)]='searchQuery' name="movie_title">
      </md-input-container>
    </div>
    <div class="each-row">
      <button class="search-movies" md-raised-button (click)='searchMovies()' name="search">Find <i class="material-icons right">search</i></button>
    </div>
  </form>

  <div id="result-list" *ngIf = 'movieResults && movieResults.length'>
    <p class="center-align">Showing Results for "{{searchedQuery}}"</p>
    <div class="movie-list">
      <p class="center-align">Total Results: <strong>{{totalResults}}</strong></p>
      <md-card class="each-movie" (click)='viewMovie(aMovie.imdbID)' *ngFor = 'let aMovie of movieResults'>
        <md-card-header class="card-header">
          <md-card-title><h5>{{aMovie.Title}}</h5></md-card-title>
          <md-card-subtitle><span>Year: {{aMovie.Year}}</span><br/>
            <span>Type: {{aMovie.Type}}</span></md-card-subtitle>
        </md-card-header>
        <div class="card-image">
          <img  src="{{aMovie.Poster}}">
        </div>
      </md-card>
    </div>
    <div class="pagination">
      <span>Page {{currentPage}} of {{totalPages}}</span>
      <span>
        <button md-raised-button *ngIf='currentPage>1' title="First" class="page-nav btn waves-effect waves-light" (click)='navigate("first")'><i class="material-icons">first_page</i></button>
        <button md-raised-button *ngIf='currentPage>1' title="Previous" class="page-nav btn waves-effect waves-light" (click)='navigate("prev")'><i class="material-icons">navigate_before</i></button>
        <button md-raised-button *ngIf='currentPage<totalPages' title="Next" class="page-nav btn waves-effect waves-light" (click)='navigate("next")'><i class="material-icons">navigate_next</i></button>
        <button md-raised-button *ngIf='currentPage<totalPages' title="Last" class="page-nav btn waves-effect waves-light" (click)='navigate("last")'><i class="material-icons">last_page</i></button>
      </span>
    </div>
  </div>

  <div id="loader" *ngIf='loading'><img src="../assets/img/3.gif" /></div>
  <div *ngIf='!loading && searchedQuery' class="center-align">No movie was found to match to your search "{{searchedQuery}}"</div>
</div>

<ng-template #warning><p class="center-align" style="margin-top: 135px">You need to be online to enjoy the full functionality of the extension. However, you can still modify your schedule</p></ng-template>
