#wrapper {
  width: 400px;
  min-height: 400px;
  max-height: 800px;
}

.footer-nav {
  position: fixed;
  height: 30px;
  background: #efefef;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
}

.footer-nav > div:hover {
  background: #e0e0e0;
}

.footer-nav i {
  margin-top: 3px;
}
