<div *ngIf='aMovie' class="movie-detail row">
    <h3 class="center-align">{{aMovie.Title}}</h3>
    <table>
        <tbody>
            <tr>
                <td>Main Actors</td>
                <td>{{aMovie.Actors}}</td>
            </tr>
            <tr>
                <td>Genre</td>
                <td>{{aMovie.Genre}}</td>
            </tr>
            <tr>
                <td>Length</td>
                <td>{{formatTime(aMovie.Runtime)}}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{aMovie.Type}}</td>
            </tr>
            <tr>
                <td>Released</td>
                <td>{{aMovie.Released}}</td>
            </tr>
            <tr>
                <td>Plot</td>
                <td>{{aMovie.Plot}}</td>
            </tr>
            <tr>
                <td>IMDB Rating</td>
                <td>{{aMovie.imdbRating}}</td>
            </tr>
            <tr>
                <td>Awards</td>
                <td>{{aMovie.Awards}}</td>
            </tr>
        </tbody>
    </table>
    <div class="col s6 offset-s3">
        <img class="movie-poster" src="{{aMovie.Poster}}" alt="{{aMovie.Title}}" title="{{aMovie.Title}}" />
    </div>
</div>
<div id="loader" *ngIf='loading'>
    <div><img src="img/3.gif" /></div>
</div>